--allman false
--wraparguments before-first
--wrapelements disabled
--wrapcollections before-first
--self init-only
--header strip
--binarygrouping none
--octalgrouping none
--indentcase false
--trimwhitespace always
--patternlet hoist
--commas inline
--semicolons inline
--indent 2
--exponentcase lowercase
--operatorfunc spaced
--elseposition same-line
--empty void
--ranges no-space
--hexliteralcase uppercase
--linebreaks lf
--hexgrouping none
--comments indent
--ifdef indent
--stripunusedargs closure-only
--importgrouping testable-bottom
--enable spaceAroundBraces,spaceInsideBraces
--disable spaceInsideBrackets,blankLinesAtStartOfScope,redundantParens,wrapMultilineStatementBraces
--exclude **/*.generated.swift
